<% content_for :content do %>
<div class="main-aside">
 <!--<li class="nav-schedules">All Schedules</li>-->
	<ul id="friends">
	  <% @friends.each do |friend| %>
	  <li><a href="/friends/<%= friend.id %>">
      <img src="http://graph.facebook.com/<%= friend.uid %>/picture" /><span class="name"><%= friend.name %></span>
      <span class="status">currently in 15-410</span>
    </a></li>
	  <% end %>  
  </ul>
</div>
<div id="article">
  <div id="friends-tooltip" class="tooltip">
  Click a friend's name to see their schedule. Invite more friends with this link. Yeah really cool.
  </div>
</div>
<% end %>
<%= render :partial => 'partials/mainpage' %>
