<div id="header" style="background-color: white; border: 1px solid black; margin: 10px; ">
  <h1>Welcome to SCHEDULENAMEHERE</h1>
  <table>
    <tr>
      <td><%= link_to('Schedules', schedules_path)%></td>
      <td><%= link_to('Courses', courses_path)%></td>
      <td><%= link_to('Students', students_path)%></td>
    </tr>
  </table>
</div>
