<div style="background-color:#1fbbbd;position:absolute;z-index:10">
</div>
<div id="page-header">
  <div class="container">
    <a href="/"><img id="schedule-plus-logo" src="/images/schedule-plus-logo-sm.png" alt="schedule+" /></a>
    <!--login-->
    <div id="login">
    <a href="/auth/facebook">Login with Facebook</a>
    </div>
    <!--end-->
  </div>
</div>
