<div id="page-header">
  <div class="container">
    <a href="/" id="logo-link">
      <img id ="schedule-plus-logo" 
           alt="schedule-plus" 
           src="/images/schedule-plus.png"></img>
    </a>
    <ul id="main-nav" class="nav">
      <li id="main-nav-friends"><a href="/friends">Friends</a></li>
      <li id="main-nav-courses"><a href="/courses">Schedules</a></li>
    </ul>
    <div id="current-user">
      <a href="#" id="logout">Logout</a>
      <a href="#" id="current-user-schedule-link">
        <span id="current-user-name">Vincent Siao</span>
        <img id="current-user-pic" 
             alt="Vincent Siao"
             src="http://graph.facebook.com/vincentsiao/picture"></img>
      </a>
    </div>
  </div>
</div>
