<div style="background-color:#1fbbbd;position:absolute;z-index:10">
<%= link_to('Courses', courses_path)%>
</div>
<div id="page-header">
  <div class="container">
    <a href="/"><img id="schedule-plus-logo" src="/images/schedule-plus-logo-sm.png" alt="schedule+" /></a>
    <!--login-->

    <!--end-->
  </div>
  <a href="http://acm-site.heroku.com/"><img id="acm-cmu-logo" src="/images/acm-cmu-logo.png" alt="acm@cmu" /></a>
</div>
