<!--
<%= link_to('Schedules', schedules_path)%>
<%= link_to('Courses', courses_path)%>
-->
<div id="page-header">
  <div class="container">
    <a href="/acm/schedule/+"><img id="schedule-plus-logo" src="/images/schedule-plus-logo-sm.png" alt="schedule+" /></a>
    <!--login-->

    <!--end-->
  </div>
  <a href="http://acm-site.heroku.com/"><img id="acm-cmu-logo" src="/images/acm-cmu-logo.png" alt="acm@cmu" /></a>
</div>
