
			<li id="main-page" class="page">
				<div id="bg-mask"></div>
				<div class="container">
					<div class="sidebar">
						<ul id="main-nav">
							<li id="main-nav-schedules">
                <a href="/schedules" class="<% if controller.controller_name == 'schedules' %>selected <% end %>nav-link">schedule</a>
              </li>
							<li id="main-nav-friends"<% if !current_user %> class="locked"<% end %>>
                <a class="<% if controller.controller_name == 'friends' %>selected <% end %>nav-link"<% if current_user %> href="/friends"<% end %>>friends</a>
								<% if !current_user %>
                <span class="tooltip">
									<script type="text/javascript">
                  
                  </script>
								  <%= link_to "Connect", "/auth/facebook", :class => 'fb-connect' %>	
							  </span><% end %>
              </li>
						  <% if current_user %>
              <li id="main-nav-logout"><%= link_to 'logout', '/sessions', :method => 'delete', :class => 'nav-link' %></li>
              <% end %>
					  </ul>
					</div>
					<div id="main-content">
<div id="info">
<!--
<form id="add-schedule-main">
<label for="url">Import a new schedule</label>
<input type="text" name="url" placeholder="https://scheduleman.org/cTUJ2tAnlw"></input>
</form>-->
<% if !current_user %>
<a href="/auth/facebook" class="fb-login">Login with Facebook</a>
<% else %>
Logged in as <%= current_user.name %>
<% end %>
</div>
          <%= yield :content %>
					</div>
				</div>
			</li>
