
h1#course-index-title, 
h1#course-page-title {
  font-size:18px;
  color:#188d8e;
  font-weight:400;
}
/*************************************************************************
 * CourseIndex Styles
 *************************************************************************
 */
form#courses-search-form {
  position:absolute;
  top:-5px; left:170px;
}
table#courses-table { 
  margin:30px 0 20px;
  width:100%;
  border-bottom:1px solid #ddd;
}
table#courses-table tr {
  border-top:1px solid #ddd;
}
table#courses-table tr.even {
  background-color:#f3f3f3;
}
table#courses-table thead tr { background-image:url('/images/eee-bg.gif'); }
table#courses-table th,
table#courses-table td {
  padding:5px 10px;
  text-align:left;
}
table#courses-table th a {
  color:#188d8e;
}
/*************************************************************************
 * CoursePage Styles
 *************************************************************************
 */
h1#course-page-title .course-number {
  font-weight:700;
}
.course#page-content h2 {
  display:inline-block;
  width:615px;
  font-weight:400;
  margin:20px 0 10px;
  color:#188d8e;
  border-bottom:1px dotted #1fbbbd;
}
.course#page-content h2#section-info-header,
table#section-info {
  display:block; 
  float:right; clear:right;
  width:320px;
}
table#section-info { font-size:12px; }
table#section-info th,
table#section-info td {
  padding:2px 5px;
  text-align:left;
}
dl#course-info {
  width:615px; height:60px;
  font-size:13px;
  line-height:20px;
}
dl#course-info dt {
  color:#188d8e;
  float:left;
  width:100px;
}
dl#course-info dd {
  float:left;
  width:515px;
}
.course#page-content h2.facebox-header {
  margin-bottom:0;
  font-weight:400;
  font-size:12px;
  color:#666;
  border:none;
}
.facebox {
  position:relative;
  width:615px; height:50px;
  padding:10px 0;
  background:transparent url('/images/eee-bg.gif');
  border:1px solid #ddd;
  border-width:1px 0;
}
.facebox .expand {
  position:absolute;
  bottom:-15px; right:0px;
  padding:2px 5px;
  font-size:10px; color:#188d8e;
  background-color:#ddd;
  border-radius:0 0 5px 5px;
  cursor:pointer;
}
.facebox .expand:hover {
  background-color:#1fbbbd;
  color:#fff;
} 
.facebox ul li {
  float:left;
  margin-left:10px;
}
.facebox a .facebox-pic {
  width:48px; height:48px;
  border:1px solid #eee;
  border-radius:5px 0;
}
.facebox a:hover .facebox-pic {
  border-color:#1fbbbd;
}
#course-description {
  width:610px;
  font-size:12px;
}

