
h1#course-index-title, 
h1#course-page-title {
  font-size:18px;
  color:#188d8e;
  font-weight:400;
}
/*************************************************************************
 * CourseIndex Styles
 *************************************************************************
 */
form#courses-search-form {
  position:absolute;
  top:-5px; left:170px;
}
table#courses-table { 
  margin:30px 0 20px;
  width:100%;
  border-bottom:1px solid #ddd;
}
table#courses-table tr {
  border-top:1px solid #ddd;
}
table#courses-table tr.even {
  background-color:#f3f3f3;
}
table#courses-table thead tr { background-image:url('/images/eee-bg.gif'); }
table#courses-table th,
table#courses-table td {
  padding:5px 10px;
  text-align:left;
}
table#courses-table th a {
  color:#188d8e;
}
/*************************************************************************
 * CoursePage Styles
 *************************************************************************
 */
h1#course-page-title .course-number {
  font-weight:700;
}
.course#page-content h2 {
  display:inline-block;
  width:615px;
  font-size:16px;
  font-weight:400;
  margin:20px 0 10px;
  padding:5px 0;
  color:#188d8e;
  border-bottom:1px dotted #1fbbbd;
}
#section-info {
  float:right; clear:right;
  width:330px;
}
#section-info-table,
.course#page-content h2#section-info-header {
  display:block; 
  width:100%;
}
#section-info-table { 
  font-size:12px;
  line-height:18px;
}
#section-info-table tbody,
#section-info-table thead,
#section-info-table tr {
  display:block;
  width:100%;
}
#section-info-table th,
#section-info-table td {
  padding:2px 5px;
  text-align:left;
  overflow:hidden;
}
#section-info-table tr:hover {
  color:#188d8e;
}
#section-info-table tr.even {
  background-color:#f3f3f3;
}
#section-info-table tr.lecture {
  background-image:url('/images/eee-bg.gif');
  border:1px solid #ddd;
  border-width:1px 0;
}
#section-info-table td.add-course { width:10px }
#section-info-table td.lecture-num,
#section-info-table td.section-ltr { width:25px }
#section-info-table td.days { width:30px; }
#section-info-table td.time { width:100px }
#section-info-table td.days,
#section-info-table td.time {
  text-align:center;
  font-size:12px;
}
#section-info-table td.section-ltr {
  width:25px;
  font-weight:700
}
a.add-course-link {
  font-weight:700;
  font-size:18px;
}
a.add-course-link:hover {
  text-decoration:none;
  color:#fbb03b;
}
dl#course-info {
  width:615px; height:60px;
  font-size:14px;
  line-height:20px;
}
dl#course-info dt {
  color:#188d8e;
  float:left;
  width:100px;
}
dl#course-info dd {
  float:left;
  width:515px;
}
.course#page-content h2.facebox-header {
  margin-bottom:0;
  font-weight:400;
  font-size:12px;
  color:#666;
  border:none;
}
.facebox {
  position:relative;
  width:615px; height:50px;
  padding:10px 0;
  background:transparent url('/images/eee-bg.gif');
  border:1px solid #ddd;
  border-width:1px 0;
}
.facebox .expand {
  position:absolute;
  bottom:-15px; right:0px;
  padding:2px 5px;
  font-size:10px; color:#188d8e;
  background-color:#ddd;
  border-radius:0 0 5px 5px;
  cursor:pointer;
}
.facebox .expand:hover {
  background-color:#1fbbbd;
  color:#fff;
} 
.facebox ul li {
  float:left;
  margin-left:10px;
}
.facebox a .facebox-pic {
  width:48px; height:48px;
  border:1px solid #eee;
  border-radius:5px 0;
}
.facebox a:hover .facebox-pic {
  border-color:#1fbbbd;
}
#course-description {
  width:610px;
  font-size:13px;
  line-height:16px;
}

