h1#department-index-title,
h1#course-index-title, 
h1#course-page-title {
  font-size:18px;
  color:#188d8e;
  font-weight:300;
}
/*************************************************************************
 * CourseIndex Styles
 *************************************************************************
 */
form#courses-search-form {
  position:absolute;
  top:0; left:170px;
}
#courses-search-form input {
  float:left;
  width:203px; height:14px;
  font-size:12px;
}
#courses-search-form input[type=submit] {
  display:block;
  margin-left:5px;
  width:20px; height:0; padding:20px 0 0 0;
  background-image:url('/images/sprites.png');
  background-position:-90px -20px;
  border:none;
  overflow:hidden;
  cursor:pointer;
}
#courses-search-form input[type=submit]:hover {
  background-position:-110px -20px;
}
#all-courses-link,
#departments-link {
  display:inline-block;
  margin:20px 0 0;
  font-size:12px;
}
table#courses-table { 
  margin:10px 0 20px;
  width:100%;
  border-bottom:1px solid #ddd;
}
table#courses-table tr {
  border-top:1px solid #ddd;
}
table#courses-table tr.even {
  background-color:#f3f3f3;
}
table#courses-table thead tr { 
  background-image:url('/images/eee-bg.gif'); 
  border:1px solid #188d8e;
  border-width:1px 0;
}
table#courses-table th,
table#courses-table td {
  padding:5px 10px;
  text-align:left;
}
table#courses-table th a {
  color:#188d8e;
}
/*************************************************************************
 * DepartmentsIndex Styles
 *************************************************************************
 */
#departments {
  position:relative;
  margin-top:30px;
  top:-20px;
  border-top:1px solid #ddd;
}
#departments li {
  width:33%;
  float:left;
}
#departments li a {
  display:block;
  border-bottom:1px solid #ddd;
  font-size:12px;
  padding:5px 8px;
}
#departments li.even a {
  background-color:#eee;
}

/*************************************************************************
 * CoursePage Styles
 *************************************************************************
 */
h1#course-page-title .course-number {
  font-weight:700;
}
.course#page-content h2 {
  display:inline-block;
  width:615px;
  font-size:16px;
  font-weight:400;
  margin:20px 0 10px;
  padding:5px 0;
  color:#188d8e;
  border-bottom:1px dotted #1fbbbd;
}
#section-info {
  float:right; clear:right;
  width:330px;
}
.course#page-content h2#section-info-header {
  display:block; 
  width:100%;
}
#section-info-table { 
  font-size:12px;
  line-height:18px;
  width:100%;
  margin-bottom:20px;
}
#section-info-table td {
  padding:2px 5px;
  text-align:left;
  overflow:hidden;
}
#section-info-table tr {
  border-bottom:1px solid #ddd;
}
#section-info-table tr:hover {
  color:#188d8e;
}
#section-info-table tr.even {
  background-color:#f3f3f3;
}
#section-info-table tr.lecture {
  background-image:url('/images/eee-bg.gif');
  border:1px solid #ddd;
  border-width:1px 0;
}
#section-info-table td.section-ltr {
  font-weight:700
}
a.add-course-link {
  font-weight:700;
  font-size:18px;
}
a.add-course-link:hover {
  text-decoration:none;
  color:#fbb03b;
}
dl#course-info {
  width:615px; height:60px;
  font-size:14px;
  line-height:20px;
}
dl#course-info dt {
  color:#188d8e;
  float:left;
  width:100px;
}
dl#course-info dd {
  float:left;
  width:515px;
}
.course#page-content h2.facebox-header {
  margin-bottom:0;
  font-weight:400;
  font-size:12px;
  color:#666;
  border:none;
}
.facebox {
  position:relative;
  width:610px; height:50px;
  padding:10px 0;
  background:transparent url('/images/eee-bg.gif');
  border:1px solid #ddd;
  border-width:1px 0;
}
.facebox .friends-expand {
  display:none;
}
.facebox .expand {
  position:absolute;
  bottom:-15px; right:0px;
  padding:2px 5px;
  font-size:10px; color:#188d8e;
  background-color:#ddd;
  border-radius:0 0 5px 5px;
  cursor:pointer;
}
.facebox .expand:hover {
  background-color:#1fbbbd;
  color:#fff;
} 
.facebox ul li {
  position:relative;
  float:left;
  margin-left:10px;
}
.facebox a {
  text-decoration:none;
}
.facebox a .facebox-pic {
  width:48px; height:48px;
  border:1px solid #eee;
  border-radius:5px 0;
}
.facebox a:hover .facebox-pic {
  border-color:#1fbbbd;
}
.facebox a .tooltip {
  position:absolute;
  top:-24px; left:0;
  z-index:10;
  padding:4px 6px;
  color:#fff;
  font-size:12px;
  text-decoration:none;
  background-color:#333;
  white-space:nowrap;
  border-radius:2px;
}
.facebox a .tooltip:after {
  left:8px; bottom:-8px;
  border-width:0 0 8px 8px;
  border-color:transparent #333;
}
#course-description {
  width:610px;
  font-size:13px;
  line-height:16px;
}

