
/*************************************************************************
 * FriendsPage Styles
 *************************************************************************
 */
.friends#page-content h1 {
  color:#188d8e;
  font-size:18px;
  font-weight:300;
}
form#friends-search-form {
  position:absolute;
  top:0; left:140px;
}
#friends-search-form input {
  float:left;
  width:203px; height:14px;
  font-size:12px;
}
h3.friends-list-header {
  padding-left:17px;
  margin:15px 0 10px;
  font-size:12px;
  color:#ccc;
  font-weight:700;
  border-bottom:1px dotted #ddd;
  clear:both;
}
#facebook-share-notify {
  clear:both;
  display:block; 
  margin:10px 0;
  padding:6px;
  color:#666;
  border:1px solid #666;
  font-size:12px;
  text-align:center;
  border-width:1px 0;
  background-color:#ddd;
}
#facebook-share-notify a {
  cursor:pointer;
  color:#188d8e;
  font-weight:700;
}
#sort-options {
  font-size:12px;
  color:#666;
}
#sort-options a {
  color:#1fbbbd;
  cursor:pointer;
}
.friends-list {
  margin-top:20px;
  position:relative;
  top:-10px;
  font-size:11px;
}
.friends-list li {
  float:left;
  margin:0 8px 8px 0;
}
a.friend-link {
  display:block;
  height:50px; width:160px;
  padding:8px;
  background-color:#eee;
  border:1px solid transparent;
  border-left-width:4px;
  border-radius:5px;
  border-color:#ddd;
}
a.friend-link:hover {
  background-color:#fff;
  text-decoration:none;
  border-color:#1fbbbd;
}
.friend-pic {
  float:left;
  height:50px; width:50px;
  margin-right:10px;
  vertical-align:text-bottom;
}
.friends-list span { display:block; }
.friend-name {
  color:#188d8e;
  font-size:13px;
}
.friend-mutual-courses {
  margin-top:2px;
  color:#666;
}
.friend-status {
  margin-top:2px;
  color:#999;
}
.last-seen {
  color:#aaa;  
}
