
h1#schedule-index-title {
  font-size:18px;
  color:#188d8e;
  font-weight:300;
}
/*************************************************************************
 * ScheduleIndex Styles
 *************************************************************************
 */
h2.semester-header {
  padding:10px;
  font-size:16px;
  color:#188d8e;
  font-weight:700;
  background-image:url('/images/eee-bg.gif');
  border:1px solid #188d8e;
  border-width:1px 0;
}
ul#schedules-list {
  margin-top:20px;
}
ul#schedules-list li.semester {
  float:left;
  width:320px;
}
ul#schedules-list ul.semester-schedules li {
  padding:10px;
  border-bottom:1px solid #ddd;
  background-color:#fff;
}
ul#schedules-list ul.semester-schedules li.even {
  background-color:#f3f3f3;
}
ul#schedules-list .schedule-options {
  float:right;
}

/*************************************************************************
 * SchedulePage Styles
 *************************************************************************
 */
.schedule#page-content #content-header {
  height:50px;
}
#schedule-user-pic-frame {
  float:left;
  position:relative;
  margin-right:20px;
  width:60px; height:60px;
  overflow:hidden
}
#schedule-user-pic {
  float:left;
  display:block;
  margin-right:20px;
  width:50px; height:50px;
  background-color:#666;
}
h1#schedule-user {
  padding-top:8px;
  color:#1fbbbd;
  font-size:20px;
  font-weight:300;
}
#schedule-user-captions {
  margin-top:2px;
  color:#188d8e;
  font-size:12px;
}
#schedule-container {
  float:left;
  width:240px
}
#calendar-container {
  float:left;
}
/*************************************************************************
 * ScheduleList Styles
 *************************************************************************
 */
#schedule .course {
  border:1px solid #ddd;
  padding:5px;
}
#schedule .sections .selected {
  background-color:#1fbbbd;
}


