
h1#schedule-index-title {
  font-size:18px;
  color:#188d8e;
  font-weight:300;
}
/*************************************************************************
 * ScheduleIndex Styles
 *************************************************************************
 */
#import-scheduleman {

}
#no-schedules-notify {
  margin-bottom:20px;
  padding:10px;
  color:#666;
  background-color:#eee;
  border:1px solid #aaa;
  border-left-width:4px;
  border-radius:5px;
}
.no-primary-notify {
  display:block; 
  margin:10px 0;
  padding:6px;
  color:#666;
  border:1px solid #666;
  font-size:12px;
  text-align:center;
  border-width:1px 0;
  background-color:#ddd;
}
ul#schedules-list {
  margin-top:15px;
}
h2.semester-header {
  padding-left:17px;
  margin:5px 0 10px 0;
  font-size:12px;
  color:#ccc;
  font-weight:700;
  border-bottom:1px dotted #ddd;
  clear:both;
}
#create-schedules-link {
  display:block; position:absolute;
  left:170px; top:2px;
  margin-right:5px; padding-top:15px;
  width:100px; height:0;
  background-image:url('/images/sprites.png');
  background-position:-80px 0;
  overflow:hidden;
}
ul#schedules-list li.schedule {
  float:left;
  margin:0 10px 10px 0; 
  width:305px;
  color:#999;
  background-color:#eee;
  border:1px solid #ccc;
  border-left-width:4px;
  border-radius:5px;
}
ul#schedules-list li.schedule .inner {
  padding:12px;
}
form.schedule-title-rename,
form.schedule-title-name {
  height:20px;
}
.schedule-title-rename input[type="submit"],
.schedule-title-name input[type="submit"] {
  display:inline-block; 
  margin-left:5px;
  position:relative; top:2px;
  width:15px; height:0; padding:15px 0 0 0;
  background-color:transparent;
  background-image:url('/images/sprites.png');
  background-position:-65px -60px;
  border:none;
  overflow:hidden;
  cursor:pointer;
  border-radius:2px;
}
.schedule-title-name span {
  margin-top:2px;
  margin-right:5px;
  float:left;
}
.schedule-title-rename input[type="submit"] {
  float:left;
  display:inline-block;
  margin-left:5px;
  margin-top:0;
}
.schedule-title-rename input[type="submit"]:hover,
.schedule-title-name input[type="submit"]:hover {
  background-position:-65px -75px;
}
.schedule-title-rename input {
  float:left;
  position:relative; top:-1px;
  margin-top:3px;
  height:15px;
  font-size:12px;
  padding:0;
  border:none;
  border-radius:2px;
}
.schedule-title-rename input:focus {
  border:none;
}
ul#schedules-list h3.schedule-title {
  color:#1FBBBD;
  float:left;
  font-size:16px;
  font-weight:300;
}
ul#schedules-list li.schedule:hover {
  color:#666;
  border-color:#1fbbbd;
  cursor:pointer;
}
ul#schedules-list li.schedule input:hover {
  cursor:pointer;
}
.schedule-options {
  float:right;
}
.schedule-primary {
  display:block; float:right;
  margin-right:5px; padding-top:15px;
  width:65px; height:0;
  background-image:url('/images/sprites.png');
  overflow:hidden;
}
.schedule-primary.selected {
  background-position:0 -15px; 
  cursor:default;
}
.schedule-primary.toggable:hover {
  background-position:0 -30px;
}
.schedule-delete {
  display:block; float:right;
  padding-top:15px;
  width:15px; height:0;
  background-image:url('/images/sprites.png');
  background-position:-65px 0;
  overflow:hidden;
}
.schedule-delete:hover {
  background-position:-65px -15px;
}
ul#schedules-list .course-selections {
  position:relative;
  margin-left:55px;
  clear:both;
  margin-top:30px;
  font-size:12px;
  line-height:14px;
}
ul#schedules-list .course-selections .number {
  position:absolute; left:-55px;
  font-weight:700;
}

/*************************************************************************
 * SchedulePage Styles
 *************************************************************************
 */
#schedule-login-notify {
  text-align:center;
  color:#666;
}
#schedule-user-pic {
  float:left;
  display:block;
  margin-right:20px;
  width:50px; height:50px;
  background-color:#666;
}
h1#schedule-user {
  padding-top:8px;
  color:#188d8e;
  font-size:20px;
  font-weight:300;
}
h1#schedule-user a {
  color:#188d8e;
}
#schedule-user-captions {
  margin-top:2px;
  color:#1fbbbd;
  font-size:12px;
  height:15px;
}
#schedule-options {
  float:right;
  width:260px;
}
#schedule-options h3 {
  float:right;
  width:70px;
  padding:20px 15px;
  color:#999;
  text-align:right;
  border-right:1px solid #ddd;
}
#schedule-options a {
  display:block;
  float:right;
  margin-left:10px;
  padding-top:43px;
  width:40px; height:0;
  background:transparent url('/images/sched-opt.png') 0 1px no-repeat;
  overflow:hidden;
}
#schedule-options #schedule-clone { background-position:-50px 1px; }
#schedule-options #schedule-delete { background-position:-100px 1px; }
#schedule-options #schedule-share:hover { background-position:0 -42px; }
#schedule-options #schedule-clone:hover { background-position:-50px -42px; }
#schedule-options #schedule-delete:hover { background-position:-100px -42px; }

#schedule-container {
  clear:both;
  float:left;
  width:240px;
  padding-top:15px;
}
#calendar-container {
  float:left;
}
#fb-login {
  display:inline-block;
  margin:0 0 0 5px;
  position:relative; top:-2px;
  vertical-align:middle;
  width:156px; height:0;
  padding-top:22px;
  background-image:url('/images/fb-buttons.gif');
  overflow:hidden;
}
#fb-login:hover {
  background-position:0 -22px;
}
/*************************************************************************
 * ScheduleList Styles
 *************************************************************************
 */
#schedule-semester {
  display:block;
  padding-left:10px;
  margin-bottom:5px;
  font-weight:700;
  font-size:12px;
  color:#aaa;
  border-bottom:1px dotted #ccc;
}
#import-scheduleman, 
#add-course {
  position:relative;
  display:block;
  width:100%;
  margin-top:10px;
}
#import-scheduleman input {
  margin-bottom:10px;
}
#form-or {
  width:203px;
  display:block;
  font-size:12px;
  color:#666;
  text-align:center;
}
#import-scheduleman input, 
#add-course input {
  float:left;
  width:203px;
  height:14px;
  border-color:#ddd;
  font-size:12px;
}
#import-scheduleman input:focus,
#add-course input:focus {
  border-color:#1fbbbd;
}
#add-suggestions {
  z-index:5;
  font-size:12px;
}
#add-suggestions li a .number {
  font-weight:700;
}
#add-suggestions li a {
  clear:left;
  display:block;
  color:#666;
  width:203px; height:14px;
  padding:2px 5px;
  border:1px solid #ddd;
  border-top:none;
  border-radius:5px;
  overflow:hidden;
  white-space:nowrap;
}
#add-suggestions li a:hover,
#add-suggestions li a:focus {
  text-decoration:none;
  background-color:#eee;
  border-color:#ccc;
}
#add-suggestions li#suggestions-notify a {
  background-color:#aaa;
  text-align:center;
  color:#fff;
  border-color:#999
}
#import-scheduleman input[type=submit],
#add-course input[type=submit] {
  display:block; float:right;
  margin-left:5px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  line-height: 0; /* for IE */
  background-image:url('/images/sprites.png');
  background-position:-130px -20px;
  border:0px solid #000;
  overflow:hidden;
  cursor:pointer;
}
#import-scheduleman input[type=submit] {
  background-position:-90px -70px;
}
#add-course input[type=submit]:hover {
  background-position:-150px -20px;
}
#import-scheduleman input[type=submit]:hover {
  background-position:-110px -70px;
}
#schedule {
  clear:both;
  margin-top:10px;
  font-size:12px;
}
#schedule .course {
  clear:both;
  position:relative;
  margin-top:6px;
  padding:8px;
  color:#333;
  background-color:#eee;
  border:1px solid #999;
  border-left-width:4px;
  border-radius:5px;
}
#schedule .course.open {
  border-color:#ccc;
  background-color:#fff;
}
#schedule .course.open:hover,
#schedule .course.highlight,
#schedule .course:hover {
  color:#000;
  background-color:#fff;
}
#schedule .course-options {
  position:absolute;
  top:6px; right:6px;
}
#schedule .course-options a {
  display:block;
  float:left;
  margin-left:5px;
  padding-top:10px;
  width:10px; height:0;
  background-image:url('/images/sprites.png');
  overflow:hidden;
}
#schedule .course-info-link { background-position:0px -55px; }
#schedule .course-times-link { background-position:0px -45px; }
#schedule .course-friends-link { background-position:0px -45px; }
#schedule .course-delete-link { background-position:0px -85px; }
#schedule .course-info-link:hover { background-position:-10px -55px; }
#schedule .course-times-link:hover { background-position:-10px -45px; }
#schedule .course-friends-link:hover { background-position:-10px -45px; }
#schedule .course-delete-link:hover { background-position:-10px -85px; }
#schedule .course .number,
#schedule .course .selected_section {
  font-weight:700;
}
#schedule .course .number a {
  color:#555;
}
#schedule .course .units {
  margin-left:5px;
  font-size:10px;
  color:#aaa;
}
#schedule .course .locations {
  display:none;
}
#schedule .course .name {
  display:block;
  margin-top:0.2em;
  line-height:1.3em;
}
#schedule .course .friends { 
  font-size:10px;
  margin-top:4px;
  padding-top:4px;
  padding-left:10px;
  background:transparent url('/images/f-icon.png') left 3px no-repeat;
  border-top:1px solid #ddd;
  color:#666;
}
#schedule .course .friends a {
  color:#188d8e;
}
#schedule .course .friends .section-header {
  display:block;
  position:relative;
  margin-top:3px;
  left:-10px; width:215px;
  color:#aaa;
  border-bottom:1px dotted #aaa;
}
#schedule .course .friends .facebox {
  position:relative;
  margin-top:2px;
  left:-10px;
  width:220px;
}
#schedule .course .friends .facebox li {
  position:relative;
  float:left;
  margin:2px 2px 0 0;
}
#schedule .course .friends .facebox li a {
  text-decoration:none;
}
#schedule .course .friends .facebox li a .tooltip {
  position:absolute;
  top:-16px; left:0;
  z-index:10;
  padding:2px 4px;
  color:#fff;
  font-size:10px;
  text-decoration:none;
  background-color:#333;
  white-space:nowrap;
  border-radius:2px;
}
#schedule .course .friends .facebox li a .tooltip:after {
  left:5px; bottom:-5px;
  border-width:0 0 5px 5px;
  border-color:transparent #333;
}
#schedule .course .friends .facebox li img {
  height:25px; 
  width:25px;
}
#schedule .sections {
  display:block;
  margin-top:6px;
  width:100%;
  color:#000;
  background:#fff none;
}
#schedule .sections .lecture {
  background-image:url('/images/eee-bg.gif');
  border:1px solid #ddd;
  border-width:1px 0;
}
#schedule .sections a {
  clear:both;
  display:block;
  color:#666;
}
#schedule .sections a:hover {
  text-decoration:none;
  background-color:#ddd;
  color:#333;
}
#schedule .sections .lecture-num,
#schedule .sections .section-ltr,
#schedule .sections .days {
  display:inline-block;
  width:20px;
  padding:4px 5px;
}
#schedule .sections .days {
  text-align:center;
  width:30px;
}
#schedule .sections .times {
  display:inline-block;
  padding:4px 5px;
  text-align:right;
}
#schedule .sections .section-ltr {
  clear:both;
  font-weight:700;
}
#schedule .sections .even {
  background-color:#f3f3f3;
}
#schedule .sections .selected a {
  color:#fff;
  background-color:#666;
}
#schedule .sections .selected a:hover {
  text-decoration:none;
  cursor:default;
}
#total-units {
  display:block;
  margin:15px 0;
  color:#999;
  font-size:12px;
}
/*************************************************************************
 * Calendar Styles
 *************************************************************************
 */
#schedule-public-notify,
#schedule-private-notify {
  display:block;
  float:right;
  margin:20px 0 5px;
  padding:6px;
  width:618px;
  color:#666;
  border:1px solid #666;
  font-size:12px;
  text-align:center;
  border-width:1px 0;
  background-color:#ddd;
}
#calendar {
  position:relative;
  width:630px;
  height:704px;
  margin:20px 0 40px 90px;
  background-image:url('/images/eee-bg.gif');
  list-style-type:none;
  clear:both;
}
#calendar #times {
  position:absolute;
  left:-45px; top:-1px;
  width:675px;
  height:705px;
  overflow:hidden;
}
#calendar #times li {
  display:block;
  position:absolute;
  width:100%;
  color:#aaa;
  text-align:left;
  font-size:11px;
  border-top:1px solid #ccc;
  overflow:hidden;
}
#calendar #times li:last-child {
  /*border-bottom:1px solid #bbb;*/
}
#calendar #times .alt {
  /*background-color:#fff;*/
}
#calendar #times .half-hour {
  display:block;
  position:absolute;
  bottom:-50%; left:45px;
  width:100%; height:100%;
  border-top:1px dashed #ddd;
}
#calendar #main-schedule ol {
  position:absolute;
  left:0;
  top:0px;
  width:675;
  height:705px;
  overflow:hidden;
}
.day-label {
  font-size:11px;
  color:#aaa;
  padding:5px;
}
.sunday, .monday, .tuesday, .wednesday, .thursday, .friday, .saturday {
  float:left;
  position:relative;
  height:100%;
  border-left:1px solid #ddd;
}
#calendar .event {
  display:block;
  position:absolute;
  padding-top:4px;
  font-size:11px;
  text-align:left;
  background-color:#ddd;
  border:1px solid #999;
  border-left-width:4px;
  border-radius:5px;
}
#calendar .event.open {
  border-color:#ccc;
  background-color:#fff;
}
#calendar .event.highlight {
  background-color:#fff;
}
#calendar .event.highlight .number {
  color:#000;
}
#calendar .event .number,
#calendar .event .section {
  float:left;
  padding-left:4px;
  color:#333;
  font-weight:700;
}
#calendar .event .location {
  clear:left;
  display:block;
  margin:2px 4px;
  font-size:10px;
  color:#666;
}

