
h1#schedule-index-title {
  font-size:18px;
  color:#188d8e;
  font-weight:300;
}
/*************************************************************************
 * ScheduleIndex Styles
 *************************************************************************
 */
#no-schedules-notify {
  padding:20px 0;
  color:#999;
}
h2.semester-header {
  padding-left:17px;
  margin-bottom:0px;
  font-size:12px;
  color:#ddd;
  font-weight:700;
}
#create-schedules-link {
  display:block; position:absolute;
  left:170px; top:2px;
  margin-right:5px; padding-top:15px;
  width:100px; height:0;
  background-image:url('/images/sprites.png');
  background-position:-80px 0;
  overflow:hidden;
}
ul#schedules-list {
  margin-top:20px;
}
ul#schedules-list li.schedule {
  float:left;
  margin:5px; padding:12px;
  width:284px;
  color:#999;
  background-color:#fff;
  border:1px solid #eee;
  border-radius:5px;
}
ul#schedules-list h3.schedule-title {
  float:left;
  font-size:16px;
  font-weight:300;
}
ul#schedules-list li.schedule:hover {
  color:#666;
  border-color:#1fbbbd;
}
ul#schedules-list li.schedule.m3z {
  clear:left;
}
ul#schedules-list .schedule-options {
  float:right;
}
ul#schedules-list .schedule-public,
ul#schedules-list .schedule-private {
  display:block; float:right;
  margin-right:5px; padding-top:15px;
  width:65px; height:0;
  background-image:url('/images/sprites.png');
  overflow:hidden;
}
ul#schedules-list .schedule-public {
  background-position:0 -15px; 
  cursor:default;
}
ul#schedules-list .schedule-private:hover {
  background-position:0 -30px;
}
ul#schedules-list .schedule-delete {
  display:block; float:right;
  padding-top:15px;
  width:15px; height:0;
  background-image:url('/images/sprites.png');
  background-position:-65px 0;
  overflow:hidden;
}
ul#schedules-list .schedule-delete:hover {
  background-position:-65px -15px;
}
ul#schedules-list .course-selections {
  position:relative;
  margin-left:55px;
  clear:both;
  margin-top:30px;
  font-size:12px;
  line-height:14px;
}
ul#schedules-list .course-selections .number {
  position:absolute; left:-55px;
  font-weight:700;
}

/*************************************************************************
 * SchedulePage Styles
 *************************************************************************
 */
.schedule#page-content #content-header {
}
#schedule-user-pic {
  float:left;
  display:block;
  margin-right:20px;
  width:50px; height:50px;
  background-color:#666;
}
h1#schedule-user {
  padding-top:8px;
  color:#1fbbbd;
  font-size:20px;
  font-weight:300;
}
#schedule-user-captions {
  margin-top:2px;
  color:#188d8e;
  font-size:12px;
  height:15px;
}
#schedule-container {
  float:left;
  width:240px;
  padding-top:15px;
}
#calendar-container {
  float:left;
}
#fb-login {
  display:inline-block;
  margin:0 0 0 5px;
  position:relative; top:-2px;
  vertical-align:middle;
  width:156px; height:0;
  padding-top:22px;
  background-image:url('/images/fb-buttons.gif');
  overflow:hidden;
}
#fb-login:hover {
  background-position:0 -22px;
}
/*************************************************************************
 * ScheduleList Styles
 *************************************************************************
 */
#add-course {
  display:block;
  width:100%;
  height:20px;
  padding:5px 0 5px;
}
#add-course input {
  float:left;
  width:203px; height:14px;
  font-size:12px;
}
#add-course input[type=submit] {
  display:block;
  margin-left:5px;
  width:20px; height:0; padding:20px 0 0 0;
  background-image:url('/images/sprites.png');
  background-position:-140px -25px;
  border:none;
  overflow:hidden;
  cursor:pointer;
}
#add-course input[type=submit]:hover {
  background-position:-160px -25px;
}
#schedule {
  font-size:12px;
}
#schedule .course {
  clear:both;
  position:relative;
  padding:8px;
  margin-top:6px;
  color:#666;
  background-color:#eee;
  border:1px solid #ccc;
  border-left-width:4px;
  border-radius:5px;
}
#schedule .course.open {
  border-color:#ccc;
  background-color:#fff;
}
#schedule .course.open:hover,
#schedule .course.highlight,
#schedule .course:hover {
  color:#000;
  border-color:#ccc;
  background-color:#fff;
}
#schedule .course .number,
#schedule .course .selected_section {
  font-weight:700;
}
#schedule .course .units {
  position:absolute;
  top:6px; right:8px;
  font-size:10px;
}
#schedule .course .locations {
  display:none;
}
#schedule .course .name {
  display:block;
  margin-top:0.2em;
  line-height:1.3em;
}
#schedule .course .options {
  position:absolute;
  top:6px; right:6px;
}
#schedule .course .options a {
  display:block;
  float:left;
  margin-left:5px;
  padding-top:10px;
  width:10px; height:0;
  background-image:url('/images/sprites.png');
  overflow:hidden;
}
#schedule .course-info-link { background-position:-80px -15px; }
#schedule .course-times-link { background-position:-80px -25px; }
#schedule .course-delete-link { background-position:-80px -35px; }
#schedule .course-info-link:hover { background-position:-90px -15px; }
#schedule .course-times-link:hover { background-position:-90px -25px; }
#schedule .course-delete-link:hover { background-position:-90px -35px; }
#schedule .sections {
  display:block;
  margin-top:6px;
  width:100%;
  color:#000;
  background:#fff none;
}
#schedule .sections li {
  height:20px;
}
#schedule .sections .lecture {
  background-image:url('/images/eee-bg.gif');
  border:1px solid #ddd;
  border-width:1px 0;
}
#schedule .sections a {
  clear:both;
  display:block;
  width:100%; height:100%;
  color:#666;
}
#schedule .sections a:hover {
  color:#1fbbbd;
}
#schedule .sections .lecture-num,
#schedule .sections .section-ltr,
#schedule .sections .days,
#schedule .sections .times {
  display:block;
  float:left;
  padding:4px 5px;
}
#schedule .sections .section-ltr {
  clear:both;
  font-weight:700;
}
#schedule .sections .even {
  background-color:#f3f3f3;
}
#schedule .sections .selected {
  color:#fff;
  background-color:#1fbbbd;
}
#total-units {
  display:block;
  margin-top:15px;
  color:#999;
  font-size:12px;
}
/*************************************************************************
 * Calendar Styles
 *************************************************************************
 */
#calendar {
  position:relative;
  width:670px;
  height:600px;
  margin:20px 0 0 50px;
  background-image:url('/images/eee-bg.gif');
  list-style-type:none;
  clear:both;
}
#calendar #times {
  position:absolute;
  left:-35px; top:-1px;
  width:705px;
  height:100%;
}
#calendar #times li {
  display:block;
  position:absolute;
  width:100%;
  color:#999;
  text-align:left;
  font-size:10px;
  border-top:1px solid #fff;
  overflow:hidden;
}
#calendar #times li:last-child {
  /*border-bottom:1px solid #bbb;*/
}
#calendar #times .alt {
  /*background-color:#fff;*/
}
#calendar #times .half-hour {
  display:block;
  position:absolute;
  bottom:-50%; left:30px;
  width:100%; height:100%;
  /*border-top:1px dashed #ccc;*/
}
.M { }
.T { left:134px }
.W { left:268px }
.R { left:402px }
.F { left:536px }
.M,.T,.W,.R,.F {
  position:absolute;
  width:134px;
  height:100%;
  border-left:1px solid #ddd;
}
#calendar .event {
  display:block;
  position:absolute;
  width:100%;
  color:#333;
  font-size:11px;
  text-align:left;
  background-color:#ddd;
  border:1px solid #bbb;
  border-left-width:4px;
  border-radius:5px;
}
#calendar .event.open {
  border-color:#ccc;
  background-color:#fff;
}
#calendar .event.highlight {
  border-color:#ccc;
  background-color:#fff;
}
#calendar .event.highlight .number {
  color:#000;
}
#calendar .event .number {
  display:block;
  margin:4px 6px 0;
  color:#333;
  font-weight:700;
  letter-spacing:0.1px;
}
#calendar .event .location {
  display:block;
  margin:2px 6px;
  color:#777;
}

