
/*************************************************************************
 * schedule++ Color Guide
 *
 * Teal: #188d8e, #1fbbbd, #40cccc, #d8ffff
 * Orange: #fbb03b
 *
 *************************************************************************
 */

/*************************************************************************
 * Top-Level Styles
 *************************************************************************
 */
.container {
  position:relative;
  margin:0 auto;
  width:960px;
  font-size:14px;
}
.clear {
  clear:both;
}
a {
  color:#1fbbbd;
  text-decoration:none
}
a:hover {
  text-decoration:underline
}
.tooltip {
  position:relative
}
.tooltip:after {
  display:block; 
  content:"";
  position:absolute;
  border-style:solid;
  width:0
}
form input {
  padding:2px 5px;
  font-family:'Nunito';
  font-weight:300;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:5px;
}
form input:focus {
  border:1px solid #1fbbbd;
}
strong {
  font-weight:700;
}
/*************************************************************************
 * Header Styles
 *************************************************************************
 */
#page-header {
  background:#1fbbbd url('/images/topbar.png') top repeat-x;
  height:30px;
}
#page-header a:hover {
  text-decoration:none;
  background-color:#40cccc;
}
a#logo-link { 
  position:absolute; left:0;
  display:block;
  width:100px; height:29px;
  background-color:transparent;
}
ul#main-nav {
  position:absolute; left:100px;
  height:29px; 
}
ul#main-nav li {
  float:left;
  width:30px; height:29px;
}
ul#main-nav li a,
a#settings-link {
  display:block;
  width:30px; height:0;
  padding-top:29px;
  overflow:hidden;
  background-image:url('/images/main-nav.png');
}
#main-nav-friends a { background-position:0 0; }
#main-nav-schedules a { background-position:-30px 0; } 
#main-nav-courses a { background-position:-60px 0; }
#main-nav-friends a:hover { background-position:0 -30px; }
#main-nav-schedules a:hover { background-position:-30px -30px; } 
#main-nav-courses a:hover { background-position:-60px -30px; }

a#settings-link { float:right; background-position:-90px 0; }
a#settings-link:hover { background-position:-90px -30px; }

#current-user {
  position:absolute; right:0;
  height:29px;
  font-size:13px;
  line-height:30px;
}
#current-user a#logout {
  float:right; display:block;
  height:29px;
  padding:0 10px;
  color:#188d8e;
}
a#current-user-schedule-link {
  float:right;
  height:29px;
}
#current-user-name {
  float:right;
  padding:0 10px;
  color:#fff;
}
#current-user-pic {
  float:right;
  width:22px; height:22px;
  margin:4px 0 0 9px;
}

#login-link { 
  float:right; display:block;
  height:29px;
  padding:0 10px;
  color:#fff;
  line-height:30px;
}

/*************************************************************************
 * Content Styles
 *************************************************************************
 */
#content-header {
  background:transparent url('/images/eee-bg.gif');
  border-bottom:1px solid #ddd;
  padding:15px 0;
}
#content-header #env-semester {
  position:absolute;
  top:0; right:30px;
  padding:5px 10px;
  color:#666;
  font-size:14px;
  background-color:#eee;
  border:1px solid #ddd;
  border-radius:5px;
}
/*
#content-header #env-semester:hover {
  background-color:#1fbbbd;
  color:#fff;
  border-color:#1fbbbd
}
*/

/*************************************************************************
 * Footer Styles
 *************************************************************************
 */
#page-footer.container {
  clear:both;
  font-size:12px;
  height:70px;
  margin-top:20px;
  border-top:1px solid #ddd;
}
#acm-logo,
#cmu-logo {
  float:left;
  margin:20px 30px 0 0;
  width:auto;
}
#privacy-link,
#tos-link,
#copyright {
  color:#1fbbbd;
  float:right;
  text-decoration:none;
  margin:20px 10px 0;
}
#privacy-link:hover,
#tos-link:hover {
  text-decoration:underline;
}
#copyright {
  color:#666;
}

/*************************************************************************
 * Privacy, TOS Styles
 *************************************************************************
 */
.tos h1, .privacy h1 {
  font-size:22px;
  font-weight:700;
  color:#188d8e;
  letter-spacing:-1px;
}
.tos p, .privacy p {
  font-size:14px;
  color:#999;
  margin-top:20px;
  line-height:18px;
}
.tos ol {
  margin-top:20px;
  margin-left:20px;
  list-style-type: decimal;
  color:#999;
  line-height:18px;
}
.tos ol li {
  margin-top:10px;
}
