.container {
    position:relative;
      margin:0 auto;
        width:960px;
}
 
 form input {
     padding:0.2em 0.5em;
       font-family:'Nunito';
         font-weight:300;
           background-color:#fff;
             border:1px solid #ddd;
               border-radius:5px;
 }

 form input:focus {
     border:1px solid #1fbbbd;
 }

 .tooltip {
     font-size:0.8em;
       padding:0.7em;
         border-radius:5px;
 }

 .tooltip:after {
     display:block; 
      content:"";
        position:absolute;
          border-style:solid;
            width:0;
 }

#start-page .tooltip {
  position:absolute;
    left:4em; top:290px;;
      color:#fff;
        background-color:#1fbbbd;
}

#start-page .tooltip:after {
  top:-20px; /* value = - border-top-width - border-bottom-width */
    right:100px;
      border-width:0 20px 20px 0;
        border-color:#1fbbbd transparent; 
}


#page-header {
  z-index:11;
    display:block;
      position:absolute;
          width:100%
} 

#page-header #schedule-plus-logo {
  position:absolute;
    margin:1em;
}

#page-header #acm-cmu-logo {
  position:absolute;
    top:1em; right:2em;
}
 
#page-content {
   position:relative;
     width:100%;
       min-width:960px;
         min-height:640px;
           overflow:hidden;
}

#pages {
    position:relative;
      top:0;
      width:100%;
        /*overflow:hidden;*/
}
#page-bg {
  position:absolute;
  width:100%;
  height:300px;
  background-color:#eee;
}

.page {
        min-width:960px;
          min-height:640px;
}
#start-page { 
    position:absolute;
    }
#main-page { }

#start-page h1 {
  position:absolute;
    top:200px;
      margin-right:0.4em;
        padding-left:0.2em;
          color:#1fbbbd;
            font-size:5em;
              letter-spacing:-0.05em;
}

#start-page p {
  position:relative;
    top:320px;
      padding:2em;
        color:#666;
          font-size:1.2em;
            line-height:1.3em;
}

#add-schedule {
  position:absolute;
    top:225px;
      left:50%;
        width:50%;
}

#add-schedule input[type=text] {
  float:left;
    margin-right:0.5em;
      font-size:1.0em;
        width:90%
}

#add-schedule input[type=submit] {
  width:20px;
    height:0;
      margin-top:0.3em;
        padding:20px 0 0;
          background:transparent url('/images/form-add.png') no-repeat center;
            border:0;
              cursor:pointer
}

#main-page .container {
  z-index:10;
}

#main-page #bg-mask {
  position:absolute;
      left:50%;
        height:300px;
          background-color:#666
}

.sidebar {
    position:relative;
        float:left;
          width:132px;
}

#main-nav {
  display:block;
    position:relative;
      padding-top:60px;
        height:240px;
}

#main-nav .tooltip {
  display:block;
    position:relative;
      top:20px; right:-10px;
        width:100%;
          text-align:center;
            background-color:#fbb03b;
}

#main-nav .tooltip:after {
  top:-10px;
    border-width:0 0 10px 10px;
      border-color:#fbb03b transparent;
        right:10px
}

#main-nav li {
  padding:10px 40px 10px 0;
    font-size:0.8em;
      text-align:right;
        color:#333
}

#main-nav .nav-link {
  text-decoration:none;
    color:#666;
      position:relative;
}
#main-nav .nav-link:hover,
#main-nav .selected.nav-link { 
  color:#1fbbbd; 
}

#main-nav .nav-link:after {
  display:block;
    content:"";
      width:15px;height:15px;
        background-image:url('/images/main-nav.png');
          position:absolute;
            top:2px;
              right:-23px;
}
#main-nav-schedules .selected.nav-link:after,
#main-nav-schedules .nav-link:hover:after { background-position:-15px 0; }
#main-nav-friends.locked .nav-link:after { background-position:0 -15px; }
#main-nav-friends.locked .selected.nav-link:after,
#main-nav-friends.locked .nav-link:hover:after { background-position:-15px -15px; }
#main-nav-logout .nav-link:after { background-position:0 -30px; }
#main-nav-logout .selected.nav-link:after,
#main-nav-logout .nav-link:hover:after { background-position:-15px -30px }

#main-nav-logout {
  position:absolute;
    bottom:10px;
      width:90px
}

#main-content {
  position:relative;
      float:left;
        width:828px;
}

#main-bg {
  width:812px;
  position:fixed;
  top:0;
  background-color:#fff;
  border:8px solid #666;
  border-width:0 8px;
}

#aside-bg {
  height:100%;
  width:200px;
  background-color:#eee
}

.main-aside {
  position:relative;
    float:left;
      padding:10px;
        width:180px;
      font-size:0.65em;
      left:8px;
  min-height:600px;
}

.main-aside .nav-schedules {
    padding-left:25px;
      margin-bottom:10px;
}

.main-aside .nav-schedules:after {
    content:"";
      display:block;
        width:15px; height:15px;
          background-image:url('/images/main-nav.png');
            background-position:0 -30px;
              position:absolute;
                top:3px;
                  left:0;
}

.schedule li {
    position:relative;
        margin-bottom:1px;
          padding:6px;
}

  .schedule .course {
      position:relative;
        color:#333;
          background-color:#ddd;
            border-radius:5px 0;
              cursor:pointer;
              border-right:5px solid #000;
      border-bottom:1px solid #aaa;
      background:-webkit-gradient(linear,left top,left bottom,from(#ddd),to(#d6d6d6));
      background:-moz-linear-gradient(top,#ddd,#d6d6d6);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd',endColorstr='#d6d6d6');
  }
  .schedule .selected.course,
  .schedule .course.highlight {
      background:none;
      background-color:#f6f6f6;
      color:#333;
      border-bottom-color:#ddd
  }

  .schedule .course .number {
      font-weight:700;
  }

  .schedule .course .name {
      color:#000;
        display:block;
          margin-top:0.2em;
            line-height:1.3em
  }
  .schedule .selected.course .name,
  .schedule .course.highlight .name {
      color:#333;
  }

  .main-aside .tooltip {
      position:relative;
      padding: 0.7em; 
        color:#ddd;
          font-size:1.3em;
            background-color:#666; 
              margin: 20px 0 10px;
      display:block;
      text-align:left;
  }
  .main-aside .tooltip:after {
      border-color:#666 transparent;
        border-width:0 0 15px 15px;
          left:30px; top:-15px;
  }

#article {
  width:612px;
  float:left;
  position:relative;
  left:8px;
}

#course-detail {
  float:left;
  padding-top:20px;
  width:635px;
  background:#fff;
}

#course-detail .number {
  display:block;
  color:#1fbbbd;
  font-size:1em;
  margin-bottom:10px;
  padding:0 20px
}

#course-detail .name {
  color:#fff;
  font-size:1.4em;
  padding:0 20px
}


#calendar {
  position:relative;
  width:526px;
  height:601px;
  margin:20px 0 20px 60px;
  background-color:#eee;
  list-style-type:none;
  clear:both;
}

#calendar #times {
  position:absolute;
  left:-30px;
  width:556px;
  height:100%;
}

#calendar #times li {
  display:block;
  position:absolute;
  width:100%;
  height:6.25%;
  text-align:left;
  font-size:0.6em;
  border-top:1px solid #bbb;
  overflow:hidden;
}
#calendar #times li:last-child {
  border-bottom:1px solid #bbb;
}

#calendar #times .alt {
  background-color:#fff;
}

#calendar #times .half-hour {
  display:block;
  position:absolute;
  bottom:-50%; left:30px;
  width:100%; height:100%;
  border-top:1px dashed #ccc;
}

.monday { }
.tuesday { left:105px }
.wednesday { left:210px }
.thursday { left:315px }
.friday { left:420px }

.begin420 { }
.begin450 { top:3.125% }
.begin480 { top:6.25% }
.begin510 { top:9.375% }
.begin540 { top:12.5% }
.begin570 { top:15.625% }
.begin600 { top:18.75% }
.begin630 { top:21.875% }
.begin660 { top:25% }
.begin690 { top:28.125% }
.begin720 { top:31.25% }
.begin750 { top:34.375% }
.begin780 { top:37.5% }
.begin810 { top:40.625% }
.begin840 { top:43.75% }
.begin870 { top:46.875% }
.begin900 { top:50% }
.begin930 { top:53.125% }
.begin960 { top:56.25% }
.begin990 { top:59.375% }
.begin1020 { top:62.5% }
.begin1050 { top:65.625% }
.begin1080 { top:68.75% }
.begin1110 { top:71.875% }
.begin1140 { top:75% }
.begin1170 { top:78.125% }
.begin1200 { top:81.25% }
.begin1230 { top:84.375% }
.begin1260 { top:87.5% }
.begin1290 { top:90.625% }
.begin1320 { top:93.75% }
.begin1350 { top:96.875% }
.begin1380 { top:100% }

.duration60 { height:6.25% }
.duration90 { height:9.375% }
.duration120 { height:12.5% }
.duration150 { height:15.625% }
.duration180 { height:18.75% }

.monday,.tuesday,.wednesday,.thursday,.friday {
    position:absolute;
      width:104px;
        height:100%;
          border-left:1px solid #999;
}
.friday {
  border-right:1px solid #999;
}

#calendar .lecture,
#calendar .section {
  position:absolute;
    /*left:-1px;*/
      width:100px;
          text-align:center;
            border-top:1px solid #333;
  border-right-width:5px;
  border-style:solid;
  border-right-color:#333;
                border-radius:5px 0;
  cursor:pointer;        
}

#calendar .number,
#calendar .location {
  display:block;
    font-size:0.65em;
      padding:5px 6px 0;
        text-align:right;
}

#calendar .number {
  font-weight:700;
}

#calendar .location {
  padding-top:0;
}

.schedule .color {
  position:absolute;
  width:10px; height:10px;
  right:5px; top:5px;
  border-radius:3px;
}

.blue { background-color:rgb(69,117,212) }
.steel { background-color:rgb(56,178,206) }
.shamrock { background-color:rgb(54,215,146) }
.yellow { background-color:rgb(255,217,64) }
.orange { background-color:rgb(255,173,64) }
.red { background-color:rgb(250,62,84) }
.magenta { background-color:rgb(231,58,149) }
.purple { background-color:rgb(179,59,212) }

#calendar .section.selected,
#calendar .lecture.selected,
#calendar .section.highlight, 
#calendar .lecture.highlight {
  background-color:#666;
  color:#ddd;
}

#calendar .blue.highlight { border-right-color:rgb(69,117,212) }
#calendar .steel.highlight { border-right-color:rgb(56,178,206) }
#calendar .shamrock.highlight { border-right-color:rgb(54,215,146) }
#calendar .yellow.highlight { border-right-color:rgb(255,217,64) }
#calendar .orange.highlight { border-right-color:rgb(255,173,64) }
#calendar .red.highlight { border-right-color:rgb(250,62,84) }
#calendar .magenta.highlight { border-right-color:rgb(231,58,149) }
#calendar .purple.highlight { border-right-color:rgb(179,59,212) }

.schedule .blue { border-right-color:rgb(69,117,212) }
.schedule .steel { border-right-color:rgb(56,178,206) }
.schedule .shamrock { border-right-color:rgb(54,215,146) }
.schedule .yellow { border-right-color:rgb(255,217,64) }
.schedule .orange { border-right-color:rgb(255,173,64) }
.schedule .red { border-right-color:rgb(250,62,84) }
.schedule .magenta { border-right-color:rgb(231,58,149) }
.schedule .purple { border-right-color:rgb(179,59,212) }

#course-friends {
  width:588px;
  float:left;
  position:relative;
  left:20px;
  height:72px;
  background-color:#666;
  border-radius:5px 0;
  margin-top:10px;
}

#course-friends .course-id {
  display:block;
  background-color:#fbb03b;
  padding:5px 8px;
  font-size:12px;
  border-radius:5px 0 0 0
}

#course-friends .course-id .number {
  font-weight:700;
  font-size:0.8em;
}

#course-friends #friends {
  display:block;
  padding:5px 8px;
}

#course-friends #friends li {
  float:left;
  display:block;width:40px;height:40px;
  background-color:#ddd;
  margin-right:5px;
}

.schedule .loading {
  margin:0 auto;
}

.schedule .friends {
  margin-top:5px;
}

.schedule .friends li {
  display:inline-block;
  margin-right:2px;
  padding:0
}

.schedule .friends li img {
  width:28px;height:28px;
  background-color:#aaa;
  border-radius:5px 0;
  border:1px solid transparent;
}

.schedule .friends .me img {
  border-color:#fbb03b;
}

#calendar-header {
  height:50px;
  margin-bottom:10px;
}

#calendar-header img {
  width:30px;
  height:30px;
  background-color:#ddd;
  margin:20px 0 0 60px;
  border-radius:5px 0;
  float:left
}

#calendar-header h1 {
  float:left;
  font-size:1.2em;
  position:relative;
  margin:28px 0 0 10px;
}

ul#friends li {
  margin-bottom:2px;
  padding:5px;
  background-color:#ddd;
  border-radius:5px 0;
}

ul#friends img {
  width:22px;
  height:22px;
  vertical-align:middle
}

ul#friends li .name {
  font-size:1.3em;
  position:relative;
  top:2px;
  margin-left:5px
}
