
/*************************************************************************
 * UserPage Styles
 *************************************************************************
 */
#user-pic {
  float:left;
  display:block;
  margin-right:20px;
  width:50px; height:50px;
  background-color:#666;
}
h1#user-name {
  padding-top:8px;
  color:#188d8e;
  font-size:20px;
  font-weight:300;
}
#user-captions {
  margin-top:2px;
  color:#1fbbbd;
  font-size:12px;
  height:15px;
}
#user-notify {
  display:block;
  margin:10px 0 0;
  padding:6px;
  color:#666;
  border:1px solid #666;
  font-size:12px;
  text-align:center;
  border-width:1px 0;
  background-color:#ddd;
}
#manage-link {
  font-size:12px;
  color:#188d8e;
}
h2 {
  margin-top:20px;
  padding-left:10px;
  font-size:12px;
  color:#aaa;
  border-bottom:1px dotted #aaa;
}
#schedules {
}
.schedule {
  float:left;
  width:305px;
  margin:10px 10px 0 0;
  padding:12px;
  color:#999;
  background-color:#eee;
  border:1px solid #ccc;
  border-left-width:4px;
  border-radius:5px;
}
.schedule:hover {
  color:#666;
  border-color:#1fbbbd;
  cursor:pointer;
}
.schedule h3 {
  color:#1FBBBD;
  font-size:14px;
  font-weight:300;
}
.course-selections {
  position:relative;
  margin-left:55px;
  clear:both;
  margin-top:10px;
  font-size:12px;
  line-height:14px;
}
.course-selections .number {
  position:absolute; left:-55px;
  font-weight:700;
}

/*************************************************************************
 * UserSettings Styles
 *************************************************************************
 */
h1#settings-page-title {
  font-size:18px;
  color:#188d8e;
  font-weight:300;
}
