<div id="page-content" class="settings">
  <div id="content-header">
    <div class="container">
      <h1 id="settings-page-title">User Settings</h1>
    </div>
  </div>
  <div class="container">
    
  </div>
</div>
