<div id="page-content" class="schedules">
  <div id="content-header">
    <div class="container">
      <a href="/schedules"><h1 id="schedule-index-title">Browse Schedules</h1></a>
      <%= link_to "Create a New Schedule", 
                  schedules_path, :method => :post, 
                  :id => "create-schedules-link" %><!--or import from ScheduleMan-->
    </div>
  </div>
  <div class="container">
    <!--<form id="import-scheduleman">
      <input name="url" type="text" placeholder="http://scheduleman.org/schedules/cTUj2lnAW" />
      <input name="commit" type="submit" value="Import" />
    </form>-->
    <ul id="schedules-list"><% 
    sgroups = @schedules.group_by(&:semester)
    if sgroups[Semester.current].nil? %><%=
      render(:partial => 'semester', :locals => {:semester => Semester.last, 
                                                 :sgroup => []}) %><%
    end %><%
    sgroups.each do |semester, sgroup| %><%= 
      render(:partial => 'semester', :locals => {:semester => semester,
                                                 :sgroup => sgroup}) %><%
    end %>
    </ul>
  </div>
</div>
