<script>
$(function() {
  $('li .schedule .inner').click(function(e){
    // don't open schedule link if clicked button
    if (!$(e.target).is('input') && !$(e.target).is('a')) {
      location.href = '/schedules/' + $(this).parent().attr('id');
    }
  });
});
</script>
<div id="page-content" class="schedules">
  <div id="content-header">
    <div class="container">
      <a href="/schedules"><h1 id="schedule-index-title">Browse Schedules</h1></a>
      <%= link_to "Create a New Schedule", 
                  schedules_path, :method => :post, 
                  :id => "create-schedules-link" %><!--or import from ScheduleMan-->
   </div>
  </div>
  <div class="container">
    <ul id="schedules-list"><% 
    sgroups = @schedules.group_by(&:semester)
    if sgroups[Semester.current].nil? %><%=
      render(:partial => 'semester', :locals => {:semester => Semester.current, 
                                                 :sgroup => []}) %><%
    end %><%
    sgroups.each do |semester, sgroup| %><%= 
      render(:partial => 'semester', :locals => {:semester => semester,
                                                 :sgroup => sgroup}) %><%
    end %>
    </ul>
  </div>
</div>
