<% content_for :content do %>
<div class="main-aside">

</div>
<div id="article">
  <h1>Import a New Schedule</h1>
  <%= form_tag '/schedules/import', :id => 'add-schedule', :method => :get do %>
    <%= text_field_tag :schedulemanurl, nil, :placeholder => 'https://scheduleman.org/schedules/cTUJ2tAnlw' %>
    <%= submit_tag "Add" %>
  <% end %>
</div>
<% end %>
<%= render :partial => 'partials/mainpage' %>
