<% content_for :content do %>
<div class="main-aside">
 <!--<li class="nav-schedules">All Schedules</li>-->
  <ul class="schedule">
    
  </ul>
</div>
<div id="article">
  <div id="calendar-header">
  <% if current_user %>
  <img src="http://graph.facebook.com/vincentsiao/picture"/>
  <h1>Vincent Siao</h1>
  <% end %>
  </div>
  <ul id="calendar">

  </ul>
<script src="/javascripts/calendar.js" type="text/javascript"></script>
<% if controller.action_name == 'show' %>
<script type="text/javascript">
$(document).ready(function() {
  var sched = <%=
      @schedule.to_json(:include =>
            {
              :course => {}, 
              :lecture => {:include => :lecture_section_times}, 
              :recitation => {:include => :recitation_section_times}
            }).html_safe
 %>;
 addSchedule(sched);
});
</script>
<% end %>
</div>
<% end %>
<%= render :partial => 'partials/mainpage' %>
