<!--script src="/javascripts/calendar.js" type="text/javascript"></script-->
  
  <!--<li class="nav-schedules">All Schedules</li>-->
<div class="main-aside">
  <ul class="schedule">
    
  </ul>
  <div id="courses-after-tooltip" style="text-align:center">
  <% if !current_user %>
  <span class="tooltip">Now that your schedule has been imported, connect to Facebook to see your friends' schedules!</span>
  <% end %>
  </div>
</div>
<ul id="calendar">

</ul>

