<script src="/javascripts/calendar.js" type="text/javascript"></script>
  <ul class="content-list">
  
  <li class="nav-schedules">All Schedules</li>
  <li class="selected course">
  <span class="number">15-210 D</span>
  <span class="friends">? friends</span>
  <span class="name">Parallel and Sequential Data Structures and Algorithms</span>
  </li>
  <li class="course">
  
  <span class="number">15-213 F</span>
  <span class="friends">? friends</span>
  <span class="name">Introduction to Computer Systems</span>
  </li>
  <li class="course">
  <span class="number">15-396 A</span>
  <span class="friends">? friends</span>
  
  <span class="name">Special Topic: Science of the Web</span>
  </li>
  <li class="course">
  <span class="number">21-301 A</span>
  <span class="friends">? friends</span>
  <span class="name">Combinatorics</span>
  </li>
  
  <li class="course">
  <span class="number">98-163 A</span>
  <span class="friends">? friends</span>
  <span class="name">StuCo: the Art of Tetris</span>
  </li>
  <li class="tooltip">Now that your schedule has been imported, connect to Facebook to see your friends' schedules!</li>
  <li style="text-align:center">
  
  <fb:login-button>Connect</fb>
  </li>
  </ul>
<ul id="calendar">

</ul>

