			<% if !current_user %>
      <li id="start-page" class="page">
				<script>$(document).ready(function(){
          $('#main-bg').css('left','100%');
          $('#page-footer').addClass('start');
        })</script>
        <div class="container">
					<h1>Get Started</h1>
					<%= form_tag '/schedules/import', :id => 'add-schedule', 
            :method => :get do %>
            <%= text_field_tag :schedulemanurl, nil, :placeholder => 'https://scheduleman.org/schedules/cTUJ2tAnlw' %>
            <%= submit_tag "Add" %>
          <% end %>
					<span class="tooltip">
						Paste the URL of your ScheduleMan schedule here and begin sharing with your friends on Facebook!
					</span>
          <span class="error tooltip">
            
          </span>
					<p>schedule+ connects you to your Carnegie Mellon friends on Facebook by matching your planned course schedules. See which courses are most common among your friends, or find out which of your friends is free for a lunchtime get-together.</p>
				</div>

			</li>
      <% end %>
