<div id="page-content" class="home">
  <div id="content-header">
    <div class="container">
    <span id="login-prompt">Already Connected?</span>
    <div id="auth">
      <a href="/auth/facebook">Login with Facebook</a>
    </div>

    </div>
  </div>
  <div class="container">

  </div>
</div>
