
			<li id="static-page" class="tos page">
      <div class="container">
        <h1>Invalid User</h1>
       <!-- <span class="tooltip">This tooltip/caption is optional</span> -->
        <p>
          Sorry, you must be a Carnegie Mellon University student to use schedule+. If you are a CMU student,
					make sure you've added CMU to your Education information.
        </p>
      </div>
      </li>
      <script type="text/javascript">
        $(function() {
          $('#page-footer').addClass('start');
        });
      </script>
