<div id="page-content" class="privacy">
  <div id="content-header">
    <div class="container">
      <h1>Privacy Policy</h1>
      <!--<span class="tooltip">We keep your secrets</span>-->
    </div>
  </div>
  <div class="container">
        <p>
          We at ACM@CMU believe that every user deserves his/her own privacy, so we apologize in advance for using Facebook. We decided to use Facebook because it provides us with easy access to your list of friends. We will not use any of your Facebook information except your name and friends list. We will not share your information with anyone except you and your Facebook friends. We will not sell your information to anyone.
        </p>
        <p>We do not store your list of friends locally; only your name, facebook
        user id, and your schedules are available when you are not logged in. 
        If you have questions about deleting or 
        correcting your personal data please contact 
        <a href="http://acmatcmu.org/about">one of us</a>.
        </p>
  </div>
</div>
