
			<li id="static-page" class="tos page">
      <div class="container">
        <h1>Terms of Service</h1>
        <span class="tooltip">This tooltip/caption is optional</span>
        <p>CONTENT GOES HERE</p>
      </div>
      </li>
      <script type="text/javascript">
        $(function() {
          $('#page-footer').addClass('start');
        });
      </script>
