<div id="page-content" class="tos">
  <div id="content-header">
    <div class="container">
      <h1>Terms of Service</h1>
      <!--<span class="tooltip">This tooltip/caption is optional</span>-->
    </div>
  </div>
  <div class="container">
  <p>
  The following terms and conditions govern all use of the scheduleplus.org website
  (the &ldquo;Website&rdquo;). The Website is owned and operated by ACM@CMU. (&ldquo;ACM&rdquo;). The Website is 
  offered subject to your acceptance without modification of all of the terms and 
  conditions contained herein and all other operating rules, policies (including, 
  without limitation, the <a href="/privacy">Privacy Policy</a>) and procedures that 
  may be published from time to time on this Site by ACM (collectively, the &ldquo;Agreement&rdquo;).
  </p>
  <p>Please read this Agreement carefully before accessing or using the Website. By 
  accessing or using any part of the web site, you agree to become bound by the terms 
  and conditions of this agreement. If you do not agree to all the terms and conditions 
  of this agreement, then you may not access the Website or use any services. If these 
  terms and conditions are considered an offer by ACM, acceptance is expressly limited 
  to these terms. The Website is available only to individuals who are at least 13 years old.
  </p>
  <ol>
    <li><strong>Your scheduleplus.org Account and Schedules.</strong> If you create a 
      schedule on the Website, you are responsible for maintaining the security of your 
      account and schedules, and you are fully responsible for all activities that occur 
      under the account and any other actions taken in connection with the schedules. 
      You must immediately notify ACM of any unauthorized uses of your account or any 
      other breaches of security. ACM will not be liable for any acts or omissions by 
      You, including any damages of any kind incurred as a result of such acts or omissions.
    </li>
    <li><strong>Changes. </strong> ACM reserves the right, at its sole discretion, to 
      modify or replace any part of this Agreement. It is your responsibility to check 
      this Agreement periodically for changes. Your continued use of or access to the 
      Website following the posting of any changes to this Agreement constitutes acceptance 
      of those changes. ACM may also, in the future, offer new services and/or features 
      through the Website (including, the release of new tools and resources). Such new 
      features and/or services shall be subject to the terms and conditions of this Agreement.
    </li>
    <li><strong>Termination. </strong>ACM may terminate your access to all or any part 
      of the Website at any time, with or without cause, with or without notice, 
      effective immediately. If you wish to terminate this Agreement or your
      scheduleplus.org account (if you have one), you may simply discontinue using 
      the Website. ACM can terminate the Website immediately as part of a general 
      shut down of our service. All provisions of this Agreement which by their 
      nature should survive termination shall survive termination, including, 
      without limitation, ownership provisions, warranty disclaimers, indemnity and 
      limitations of liability.
    </li>
    <li class="important"><strong>Disclaimer of Warranties.</strong> The Website is 
      provided &#8220;as is&#8221;. ACM hereby disclaims all warranties of any kind, 
      express or implied, including, without limitation, the warranties of 
      merchantability, fitness for a particular purpose and non-infringement. ACM makes 
      no warranty that the Website will be error free or that access thereto will be 
      continuous or uninterrupted. If you&#8217;re actually reading this, 
      good for you. You understand that you download from, or otherwise obtain content 
      or services through, the Website at your own discretion and risk.
    </li>
    <li class="important"><strong>Limitation of Liability.</strong> In no event will 
      ACM be liable with respect to any subject matter of this agreement under any 
      contract, negligence, strict liability or other legal or equitable theory for: 
      (i) any special, incidental or consequential damages; (ii) the cost of 
      procurement for substitute products or services; or (iii) for interruption of use 
      or loss or corruption of data. ACM shall have no liability for any failure or 
      delay due to matters beyond their reasonable control. The foregoing shall not 
      apply to the extent prohibited by applicable law.
    </li>
    <li><strong>General Representation and Warranty.</strong> You represent and warrant 
      that your use of the Website will be in strict accordance with the Privacy 
      Policy, with this Agreement and with all applicable laws and regulations 
      (including without limitation any local laws or regulations in your country, 
      state, city, or other governmental area, regarding online conduct and acceptable 
      content, and including all applicable laws regarding the transmission of 
      technical data exported from the United States or the country in which you reside). 
    </li>
    <li><strong>Indemnification.</strong> You agree to indemnify and hold harmless ACM, 
      its directors, officers, employees and agents from and against any and all claims and 
      expenses, including attorneys’ fees, arising out of your use of the Website, 
      including but not limited to your violation of this Agreement.
    </li>
    <li><strong>Miscellaneous.</strong> This Agreement constitutes the entire agreement 
      between ACM and you concerning the subject matter hereof, and they may only be 
      modified by a written amendment signed by an authorized executive of ACM, or by 
      the posting by ACM of a revised version.
      If any part of this Agreement is held invalid or unenforceable, that part will 
      be construed to reflect the parties’ original intent, and the remaining portions 
      will remain in full force and effect. A waiver by either party of any term or 
      condition of this Agreement or any breach thereof, in any one instance, will 
      not waive such term or condition or any subsequent breach thereof. You may assign 
      your rights under this Agreement to any party that consents to, and agrees to 
      be bound by, its terms and conditions; ACM may assign its rights under this 
      Agreement without condition. This Agreement will be binding upon and will inure 
      to the benefit of the parties, their successors and permitted assigns.
    </li>
  </ol>
  </div>
</div>
