
			<li id="static-page" class="tos page">
      <div class="container">
        <h1>Terms of Service</h1>
       <!-- <span class="tooltip">This tooltip/caption is optional</span> -->
        <p>
          By using Schedule+, you agree to our terms of service, as set forth below.

ACM@CMU is in no way responsible for any loss of data or friends that you may incur as a result of using schedule+.

Disclaimer: We are actually just here to help you actually know who never shows up to class. 

ACM may, at any time, terminate its legal agreement with you if you attempt to troll, hack, or maliciously attack our website.

These terms may change without prior notice.
        </p>
      </div>
      </li>
      <script type="text/javascript">
        $(function() {
          $('#page-footer').addClass('start');
        });
      </script>
